@font-face {
    font-family: D-DIN;
    src: url(../fonts/D-DIN.otf) format("opentype");
}
@font-face {
    font-family: D-DIN-Bold;
    src: url(../fonts/D-DIN-Bold.otf) format("opentype");
}
  
* {
    font-family: "D-DIN", "D-DIN-Bold";
}
body{
    font-size: 16px;
    color: black;
    line-height: 1 !important;
}
h1, h2, h3, h4, h5 {
    font-family: "D-DIN-Bold";
}

section{
    padding-top: 3rem;
}

.banner_content {
    font-family: "D-DIN-Bold";
    color: black;
}
.banner_content h1{
    padding: 7rem 0 5rem 0;
}

.banner_content p{
    font-size: 1.1rem;
}

#carousel-thumb h3, #carousel-thumb p {
    color: black !important;
}
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative; 
    width: 100%;
    overflow: hidden;
    height: 10rem;
}
.carousel-thumbnails .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-right: initial;
    margin-left: initial;
    overflow-x: auto;
    white-space: nowrap;
}
.carousel-thumbnails .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-right: initial;
    margin-left: initial;
    overflow-x: auto;
    white-space: nowrap;
}

.carousel-thumbnails .carousel-indicators>li {
    width: initial;
    height: initial;
    text-indent: initial;
}

.carousel-caption{
    position: initial;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(118,189,181, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header_area .fixed-top{
    background-color: black;
}
.header_area .navbar .nav .nav-item .nav-link {
    color: white;
    ;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
	color: #93C0CD;
}

.main_btn, .main_btn_2 {
    color: #000;
    font-family: "D-DIN";
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background-color: #93C0CD;
}

.main_btn:hover {
	color: #93C0CD;
	background: transparent;
	border: 1px solid #93C0CD;  
}

.main_btn_2:hover{
	color: #000;
	background: rgba( 255, 255, 255, 0.6);
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{ 
    left:0;
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
}

#home{
    background: url(../img/banner/Lavamos_Secamos_Doblamos_La_Banda_Laundry.jpg) no-repeat scroll center;
    background-size: contain;
    min-height: 100px;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
}

#servicio{
    text-align: center;
    color: black;
    margin-top: 4rem;
}
footer{
    background: #93C0CD;
    text-align: center;
}
footer p{
    color: white;
}
footer a{
    color: #fff;
    text-decoration: none;
    transition: all 300ms linear 0s;
}
footer a:hover{
    color: #000;
    text-decoration: underline
}

.instagram_area{
    position: relative;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list{
    list-style: none;
}
.list li{
    display: inline-block;
}

.terminos-link{
    color: #000;
    text-decoration: none;
    transition: all 300ms linear 0s;
}
.terminos-link:hover{
    color: #93C0CD;
    text-decoration: underline
}


@media (min-width: 750px) {
    .header_area .navbar .nav .nav-item {
        padding: 1rem;
    }
}

@media (max-width: 750px) {
    #Precios h3 {
        font-size: 1.65rem;
    }
    #Precios h5 {
        font-size: 1.03rem;
    }
    #servicio{
        margin-top: 1.5rem;
    }
}