@font-face {
    font-family: D-DIN;
    src: url(../fonts/D-DIN.otf) format("opentype");
}
@font-face {
    font-family: D-DIN-Bold;
    src: url(../fonts/D-DIN-Bold.otf) format("opentype");
}
  
* {
    font-family: "D-DIN", "D-DIN-Bold";
}
body{
    font-size: 16px;
}
h1, h2, h3, h4, h5 {
    font-family: "D-DIN-Bold";
}
.banner_content {
    font-family: "D-DIN-Bold";
    color: white;
}
.banner_content h1{
    padding: 7rem 0 5rem 0;
}

.banner_content p{
    font-size: 1.1rem;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(118,189,181, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-font{
    line-height: 1 !important;
}

.header_area .fixed-top{
    background-color: black;
}
.header_area .navbar .nav .nav-item .nav-link {
    color: white;
    ;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
	color: #76bdb5;
}

.main_btn {
    color: #000;
    font-family: "D-DIN";
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background-color: #76bdb5;
}

.main_btn:hover {
	color: #76bdb5;
	background: transparent;
	border: 1px solid #76bdb5;  
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{ 
    left:0;
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
}

#home{
    background: url(../img/banner/home-banner.jpg) no-repeat scroll center;
    background-size: cover;
    min-height: 36rem;
}

#servicio{
    text-align: center;
    color: black;
    margin-top: 4rem;
}


@media (min-width: 750px) {
    .header_area .navbar .nav .nav-item {
        padding: 1rem;
    }
}

@media (max-width: 750px) {
    #Precios h3 {
        font-size: 1.65rem;
    }
    #Precios h5 {
        font-size: 1.03rem;
    }
}